body {
	padding: 0px;
	margin-top: 0px!important;
	background-color: #fff;
}
 
.content-background{
	background-color: #f9f9f9;
	margin-top: -10px;
	padding-bottom: 40px;
}

h1,h2,h3,h4{
	margin-top: 10px;
}

.navbar{
	align-items: flex-start;
}
footer{
	width: 100%;
	padding-top: 10px;
	margin-top: 40px;
}
footer li{
	display: inline-block;
	margin-right: 10px;
	
}

.card{
	margin-bottom: 10px;
}

.bd-title {
	margin-top: 1rem;
	margin-bottom: .5rem;
	font-weight: 300;
	font-size: 3rem;
}

.component-name{
	margin-top:-10px;
	font-size: 0.6em;
}
.component-name:before {
    content: "[";
}
.component-name:after {
    content: "]";
}
